.home {
    position: relative;
    text-align: center;
    margin: 20px auto;
    box-sizing: border-box;
    height: 30px;
    font-size: 20px;
}
.home a {
    text-decoration: none;
    color: #333;
    line-height: 30px;
    border: 1px solid #eee;
}
.item {
    text-align: center;
    font-size: 1.25rem;
}
.input {
    opacity: 0;
}
.choose {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: -10;
}
.test1 {
    /* width: 10px;
    height: 10px; */
    position: relative;
    width: 0;
    height: 0;
    margin: 10px auto;
    border-top: 10px solid aqua;
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    /* background-color: aqua; */
}
.test2 {
    width: 30px;
    height: 30px;
    margin: 10px auto;
    border: 1px solid;
    border-radius: 50%;
    outline: 5px solid;
    outline-offset: -20px;
}
.test3 {
    width: 30px;
    height: 30px;
    margin: 10px auto;
    box-shadow: 5px 2px 0 3px red, 5px 2px 0 3px red, 5px 2px 0 3px red;
}
.acvtive {
    color: red;
}
/* .test::after {
    content: '';
    left: 0;
    top: 0;
    position: absolute;
    border-top: 10px solid aqua;
    border-bottom: 10px solid transparent;
    border-left: 10px solid aqua;
    border-right: 10px solid aqua;
} */