.about {
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
}
.aboutbtn {
    margin-top: 30px;
    animation: flash .8s 2;
}
/* @keyframes flash {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(100px, 0, 0);
    }
} */